<h1>{{ object.name }}</h1>

<!-- Should show unfollow if already followed. -->
{% if request.user.is_authenticated %}
<form name="follow" method="post" action="{% url 'polls:follow_community' object.id %}">
      {% csrf_token %}
      <input type="hidden" name="supporttype" />
      <input type="submit" value="Follow" />
</form>
{% endif %}


{{ object.bio }}

<p>Members:</p>
<ul>
{% if memberships %}
    {% for membership in memberships %}
        <li><a href="{% url 'polls:user_detail' membership.profile.user.id %}">{{ membership.profile.user.username }}</a></li>
    {% endfor %}
{% else %}
    <li>None</li>
{% endif %}
</ul>
