<h1>{{ object.name }}</h1>

<!-- Should show unfollow if already followed. -->
{% if request.user.is_authenticated %}
<form name="follow" method="post" action="{% url 'polls:follow_community' object.id %}">
      {% csrf_token %}
      <input type="hidden" name="supporttype" />
      <input type="submit" value="Follow" />
</form>
{% endif %}


{{ object.bio }}

<p>Current Openings:</p>
<ul>
{% if openings %}
    {% for opening in openings %}
        <li><a href="{% url 'polls:opening_detail' opening.id %}">{{ opening.title }}</a></li>
    {% endfor %}
{% else %}
    <li>None</li>
{% endif %}
</ul>


<p>Members:</p>
<ul>
{% if memberships %}
    {% for membership in memberships %}
        <li><a href="{% url 'polls:profile_detail' membership.profile.id %}">{{ membership.profile.user.username }} ({{ membership.get_member_type_display }})</a></li>
    {% endfor %}
{% else %}
    <li>None</li>
{% endif %}
</ul>
