{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<a href="{% url 'polls:communities' %}">Community Index</a>

{% if request.user.is_authenticated %}
    <p>
      Welcome, {{ request.user.username }}!
      <a href="{% url 'polls:profile_detail' request.user.profile.id %}">Your Profile</a>
    </p>


    {% if posts %}
        Posts:
        <ul>
        {% for post in posts %}
            <li><a href="{% url 'polls:post_detail' post.community.id post.id %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

    {% if events %}
        Events:
        <ul>
        {% for event in events %}
            <li><a href="{% url 'polls:event_detail' event.community.id event.id %}">{{ event.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}

    {% else %}
    <p>Welcome! Please log in.</p>
{% endif %}
